<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="flex flex-col gap-4">
    <div>New Repository</div>
    <div>
      <label for="name" class="block text-sm/6 font-medium text-gray-900">Name</label>
      <div class="mt-2">
        <input formControlName="name" class="input" placeholder="enter name..." />
      </div>
    </div>
    <div>
      <label for="path" class="block text-sm/6 font-medium text-gray-900">Path</label>
      <div class="mt-2">
        <input formControlName="path" class="input" placeholder="enter path..." />
      </div>
    </div>
    <div>
      <label for="sourceCd" class="block text-sm/6 font-medium text-gray-900">Source Code</label>
      <div class="mt-2">
        <input formControlName="sourceCd" type="number" class="input" placeholder="enter source code..." />
      </div>
    </div>
    <div>
      <label for="isActive" class="block text-sm/6 font-medium text-gray-900">Is Active</label>
      <div class="mt-2">
        <div class="flex items-center mb-4">
          <input
            formControlName="isActive"
            type="checkbox"
            class="w-4 h-4 focus:ring-primary focus-visible:outline-positive text-primary-500"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 sm:mt-6 sm:grid sm:grid-flow-row-dense sm:grid-cols-2 sm:gap-3">
    <button type="submit" class="btn inline-flex w-full sm:col-start-2" [disabled]="!form.valid">
      {{ this.isEdit ? "Edit" : "Add" }}
    </button>
    <button type="button" class="mt-3 inline-flex w-full btn btn-alt sm:col-start-1 sm:mt-0" (click)="onCancel()">
      Cancel
    </button>
  </div>
</form>
